body {
    background-color: #232021 !important;
    color: #DAE7DA !important;
}

h1 {
    color: #655A7C !important;
}

h2, h3 {
    color: #AB92BF !important;
}

h4, h5 {
    color: #AFC1D6 !important;
}

.main-content code {
    color: #CEF9F2 !important;
    background-color: #0D0A0B !important;
}

.main-content pre {
    background-color: #0D0A0B !important;
}

.page-header{
    display: none !important; 
}
