body {
    background-color: #26272C !important;
    color: #F1E3D3 !important;
}

h1 {
    color: #D88C9A !important;
}

h2, h3 {
    color: #F2D0A9 !important;
}

h4, h5 {
    color: #99C1B9 !important;
}

.main-content code {
    color: #B8AED6 !important;
    background-color: #4D4E56 !important;
}

.main-content pre {
    background-color: #888B96 !important;
}

.page-header{
    display: none !important; 
}
